@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'Roboto';
  src: local('Roboto'),
  local('Roboto-Regular'),
  url(https://fonts.gstatic.com/s/roboto/v15/mUdRVCMHGKUBOACHGTH1g-vvDin1pK8aKteLpeZ5c0A.woff) format('woff');
  }
@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: 'Roboto';
  src: local('Roboto Medium'),
  local('Roboto-Medium'),
  url(https://fonts.gstatic.com/s/roboto/v15/oHi30kwQWvpCWqAhzHcCSLO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
  }
@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: 'Roboto';
  src: local('Roboto Bold'),
  local('Roboto-Bold'),
  url(https://fonts.gstatic.com/s/roboto/v15/isZ-wbCXNKAbnjo6_TwHTrO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
  }
@font-face {
  font-weight: 900;
  font-style: normal;
  font-family: 'Roboto';
  src: local('Roboto Black'),
  local('Roboto-Black'),
  url(https://fonts.gstatic.com/s/roboto/v15/3Y_xCyt7TNunMGg0Et2pnrO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
  }
.title {
  color: #323232;
  font-size: 24px;
  line-height: 1.25;
  }
.title--lg {
  color: #fff;
  font-weight: 700;
  font-size: 35px;
  line-height: 1.17;
  }
p, h1, h2, h3 {
  margin: 0;
  }

/*====================================================
	GLOBAL Rules
=====================================================*/
body {
  background-color: #92a89c;
  color: #fff;
  font: normal 500 16px/1.375 Roboto, Arial, sans-serif;
  }
.clearfix {
  content: '';
  display: table;
  clear: both;
  }
.container {
  position: relative;
  }
.container::after {
  content: '';
  position: absolute;
  display: none;
  width: 0;
  height: 0;
  background: url(../img/slide-2.png),
  url(../img/slide-3.png);
  }
.pageWrap {
  margin: 0 auto;
  min-width: 900px;
  max-width: 1200px;
  }
.layoutCenter {
  box-sizing: border-box;
  padding-right: 2.3%;
  padding-left: 2.3%;
  }
img {
  width: 100%;
  height: auto;
  }

/* LINKS and BUTTONS
========================================================*/
a {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.125;
  }
.link,
.link--whiteBg {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.125;
  }
.link--whiteBg {
  color: #323232;
  }
.link:hover {
  color: #ffbc9e;
  }
.link:active {
  color: #e84d37;
  }
.link--whiteBg:hover {
  color: #e84d37;
  }
.link--whiteBg:active {
  color: #ffbc9e;
  }

.btn {
  padding: 11px 22px;
  outline: 0;
  border: 0;
  border-radius: 23px;
  background-image: linear-gradient(to top, #ca3824, #f26843);
  box-shadow: 0 2px 2px rgba(85,8,0,0.54);
  color: #fff;
  text-decoration: none;
  font: normal 700 18px/1.33 Roboto, Arial, sans-serif;
  cursor: pointer;
  }
.btn:hover {
  background-image: linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0 1px 2px #ac1000;
  }
.btn:active {
  background-image: linear-gradient(to bottom, #e74a35, #f26843);
  box-shadow: inset 0 2px 2px #942718;
  }

.btnClose {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  padding: 0;
  width: 25px;
  height: 25px;
  outline: 0;
  border: 0;
  background-color: transparent;
  font-size: 0;
  cursor: pointer;
  }
.btnClose::before,
.btnClose::after {
  content: '';
  position: absolute;
  top: 0;
  width: 2px;
  height: 22px;
  background-color: #000;
  transform: rotate(45deg);
  }
.btnClose::after {
  transform: rotate(-45deg);
  }
.btnClose:hover::before,
.btnClose:hover::after {
  background-color: #d07058;
  }

/* FORM elements
========================================================*/
.input {
  display: block;
  box-sizing: border-box;
  padding: 9px 14px;
  outline: 0;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  background-color: #fff;
  color: #323232;
  font: 400 16px/1.5 Roboto, Arial, sans-serif;
  }
.input:hover {
  padding: 8px 13px;
  border: 2px solid #c7c6c5;
  }

.input:focus {
  padding: 8px 13px;
  border: 2px solid #8fbdec;
  }
.input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.5s linear;
  }
.input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #fff, 0 0 0 1px rgba(178, 178, 178, 0.5);
  }

.helpTxt {
  position: absolute;
  left: 14px;
  font: 400 11px / 1.18 Roboto, Arial, sans-serif;
  opacity: 0;
  transition: all 0.5s linear;
  pointer-events: none;
  }
.input:valid + .helpTxt,
.input:focus + .helpTxt {
  color: #999;
  opacity: 1;
  pointer-events: auto;
  }
.input:focus + .helpTxt {
  color: #5b9ddf;
  }

/*========================================================
  HEADER
=========================================================*/
.header {
  position: relative;
  width: 100%;
  }
.header-logo {
  float: left;
  margin: 10px 16px 0 -6px;
  width: 154px;
  height: 64px;

  fill: #fff;
  }

/* Menu
========================================================*/
.header-mainNav {
  float: left;
  margin-top: 23px;
  width: 410px;
  }
.mainNav-list,
.mainNav-innerList {
  margin: 0;
  padding: 0;
  list-style: none;
  }
.mainNav-item {
  position: relative;
  float: left;
  }
.mainNav-link {
  position: relative;
  display: block;
  padding: 7px 14px;
  border-radius: 16px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  }
.mainNav-link::after {
  content: '';
  position: absolute;
  right: 14px;
  bottom: 4px;
  left: 14px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
.mainNav-link:hover,
.mainNav-item--dropdown:hover .mainNav-link {
  background-color: #f7f6f3;
  color: #000;
  }
.mainNav-link:active {
  box-shadow: inset 0 2px 1px #696969;
  }
.mainNav-link--active,
.mainNav-link--active::after {
  border-bottom: 0;
  background-color: #d07058;
  color: #fff;
  }

/* mainNav-Dropdown
========================================================*/
.mainNav-item--dropdown::after {
  content: '';
  position: absolute;
  top: 28px;
  width: 90px;
  height: 10px;
  }
.mainNav-innerList {
  position: absolute;
  top: 37px;
  left: -7px;
  display: none;
  width: 143px;
  border-radius: 5px;
  background-color: #f8f7f4;
  }
.innerList-marked {
  display: block;
  margin-right: 8px;
  margin-left: 6px;
  padding: 10px 0 13px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #323232;
  font: 700 14px / 1.14 Roboto, Arial, sans-serif;
  }
.innerList-link {
  display: block;
  padding: 8px 0 9px 22px;
  color: #323232;
  text-decoration: none;
  font: 400 14px / 1.14 Roboto, Arial, sans-serif;
  }
.innerList-link:hover {
  background-color: #fbded8;
  }
.innerList-link:active {
  background-color: #f6b5a5;
  }
.innerList-link--marked,
.innerList-link--marked:hover {
  background-color: #d07058;
  }
.innerList-link--last {
  padding-bottom: 13px;
  }
.innerList-link--last:hover {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  }
.mainNav-item--dropdown:hover .mainNav-innerList {
  z-index: 30;
  display: block;
  box-shadow: 0 20px 20px rgba(0,0,0,0.4);
  }

/* USER Block
========================================================*/
.header-user {
  float: right;
  margin-top: 23px;
  width: 280px;
  text-align: right;
  font-size: 0;
  }
.user-search,
.user-login,
.user-cart {
  position: relative;
  z-index: 10;
  display: inline-block;
  margin-bottom: 5px;
  vertical-align: middle;
  }
.search-wrap,
.loginForm,
.cart-wrap {
  position: absolute;
  top: 38px;
  right: 0;
  display: none;
  padding: 20px 15px;
  border-radius: 5px;
  background-color: #f8f7f4;
  }
.user-search::after,
.user-login::after,
.user-cart::after {
  content: '';
  position: absolute;
  top: 28px;
  left: 6px;
  width: 90px;
  height: 10px;
  }
.user-search:hover .search-wrap,
.user-login:hover .loginForm,
.user-cart:hover .cart-wrap {
  display: block;
  box-shadow: 0 20px 20px rgba(0,0,0,0.4);
  }
.userWrap {
  display: block;
  margin-left: 10px;
  padding: 7px 18px 11px 15px;
  outline: 0;
  border: 0;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  text-decoration: none;
  font: normal 500 14px/1.14 Roboto, Arial, sans-serif;
  cursor: pointer;
  }

/* USER-Search
========================================================*/
.user-search::after {
  left: -12px;
  width: 60px;
  }
.search-btn {
  padding: 0;
  width: 33px;
  height: 33px;
  font-size: 0;
  }
.searchBtn-icon {
  margin-top: -3px;
  width: 16px;
  height: 16px;

  fill: #fff;
  }
.search-btn:hover,
.search-btn:hover .searchBtn-icon,
.user-search:hover .search-btn,
.user-search:hover .searchBtn-icon {
  background-color: #fff;
  color: #000;

  fill: #000;
  }
.search-input {
  width: 311px;
  }
.search-helpTxt {
  top: 7px;
  left: 29px;
  }

/* USER-Login
========================================================*/
.loginForm {
  right: -4px;
  }
.errorLoginForm {
  animation: shake 0.6s;
  }

.loginBtn-icon {
  float: left;
  margin-top: -1px;
  margin-right: 7px;
  width: 20px;
  height: 19px;

  fill: #fff;
  }
.login-btn:hover,
.login-btn:hover .loginBtn-icon,
.user-login:hover .login-btn,
.user-login:hover .loginBtn-icon {
  background-color: #fff;
  color: #000;

  fill: #000;
  }
.loginForm {
  padding: 20px 17px 20px 19px;
  text-align: left;
  }
.loginForm-input {
  margin-bottom: 20px;
  width: 241px;
  }
.loginForm-helpTxt--mail {
  top: 7px;
  left: 33px;
  }
.loginForm-helpTxt--pass {
  top: 71px;
  left: 33px;
  }
.loginForm-btn {
  float: left;
  margin-right: 20px;
  padding-right: 25px;
  padding-left: 24px;
  }
.loginForm-link {
  display: block;
  color: #323232;
  font: 400 13px / 1.84 Roboto, Arial, sans-serif;
  }

/* USER-Cart
========================================================*/
.user-cart::after {
  width: 120px;
  }
.cart-btn {
  padding-right: 35px;
  }
.cartBtn-icon {
  float: left;
  margin-top: -1px;
  margin-right: 7px;
  width: 20px;
  height: 20px;

  fill: #fff;
  }
.cart-btn:hover,
.cart-btn:hover .cartBtn-icon,
.user-cart:hover .cart-btn,
.user-cart:hover .cartBtn-icon {
  background-color: #fff;
  color: #000;

  fill: #000;
  }
.cart-btn--active {
  padding-right: 15px;
  }

.cart-wrap {
  box-sizing: border-box;
  width: 540px;
  }
.cart-table {
  margin-bottom: 15px;
  padding-bottom: 3px;
  border-bottom: 1px solid #333;
  color: #323232;
  font: 400 13px / 1.23 Roboto, Arial, sans-serif;
  }
.table-link {
  text-align: left;
  text-decoration: none;
  font: 400 13px / 1.23 Roboto, Arial, sans-serif;
  }
.table-sum {
  margin-top: 13px;
  caption-side: bottom;
  text-align: right;
  font: 500 15px / 1.2 Roboto, Arial, sans-serif;
  }
.table-cell {
  padding: 8px 0 13px;
  height: 30px;
  vertical-align: top;
  }
.table-cell1 {
  position: relative;
  width: 23px;
  }
.table-btnClose {
  position: absolute;
  top: 14%;
  left: -9px;
  height: 18px;
  }
.table-btnClose::before,
.table-btnClose::after {
  width: 1px;
  height: 14px;
  background-color: #515050;
  }
.table-cell2 {
  padding-top: 0;
  }
.table-img {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: #e67a5d;
  }
.table-cell3 {
  padding-left: 11px;
  width: 233px;
  text-align: left;
  }
.table-cell4 {
  padding-left: 2px;
  width: 109px;
  }
.table-price {
  color: #999;
  }
.table-cell5 {
  padding-left: 11px;
  width: 82px;
  text-align: center;
  }
.table-btn {
  float: right;
  padding-right: 14px;
  padding-left: 14px;
  }

/* USER-Info
========================================================*/
.user-info {
  margin-top: 11px;
  font: normal 500 14px / 1.14 Roboto, Arial, sans-serif;
  }
.info-tel {
  display: inline-block;
  margin-top: 5px;
  text-decoration: none;
  font: normal 900 22px / 1.09 Roboto, Arial, sans-serif;
  }

/*========================================================
  FOOTER
=========================================================*/
.footer {
  position: relative;
  padding-top: 18px;
  padding-bottom: 22px;
  width: 100%;
  }

/* FOOTER-Social
========================================================*/
.footer-social {
  float: left;
  margin-top: 18px;
  max-width: 250px;
  }
.social-btn {
  position: relative;
  float: left;
  box-sizing: border-box;
  margin-right: 10px;
  margin-bottom: 5px;
  width: 39px;
  height: 39px;
  border: 4px solid #c2cec7;
  border-radius: 50%;
  font-size: 0;
  opacity: 0.8;
  }
.social-btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background-color: transparent;
  }
.social-icon {
  width: 31px;
  height: 31px;

  fill: #fff;
  }
.social-btn:hover {
  opacity: 1;
  }
.social-btn:active:hover::after {
  box-shadow: inset 0 2px 1px #888;
  }

/* FOOTER-Business
========================================================*/
.footer-business {
  position: absolute;
  top: 29px;
  left: 50%;
  float: left;
  margin-left: -150px;
  width: 306px;
  }
.business-colLeft {
  float: left;
  width: 138px;
  }
.business-colRight {
  float: right;
  width: 164px;
  }
.business-link {
  display: inline-block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: #fefefe;
  text-decoration: none;
  font: 400 13px / 1.38 Roboto, Arial, sans-serif;
  }
.business-link--marked {
  position: relative;
  font-weight: 700;
  }
.businessLink-icon {
  content: '';
  position: absolute;
  top: 3px;
  left: -22px;
  width: 15px;
  height: 13px;
  cursor: default;

  fill: #fff;
  }

/* FOOTER-Copyright
========================================================*/
.footer-copyright {
  float: right;
  width: 190px;
  color: #fefefe;
  font: 400 12px / 1.33 Roboto, Arial, sans-serif;
  }
.copyright-logo {
  display: block;
  margin-bottom: 6px;
  margin-left: 2px;
  width: 108px;
  height: 38px;

  fill: #fff;
  }
.copyright-link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  text-decoration: none;
  font: 400 12px / 1.33 Roboto, Arial, sans-serif;
  }

/*====================================================
	INDEX Page
=====================================================*/
.indexMain {
  position: relative;
  z-index: 5;
  margin-top: -212px;
  }
.mainHeader {
  z-index: 20;
  }

/* SLIDER
=====================================================*/
.sliderToggle {
  display: none;
  }
.slider {
  position: relative;
  z-index: 1;
  margin-top: -115px;
  }
.slider-slide {
  display: none;
  box-sizing: border-box;
  padding-top: 1px;
  height: 859px;
  text-align: center;
  }
.slide-title {
  margin: 390px auto 32px;
  width: 700px;
  font: normal 900 60px/1 Roboto, Arial, sans-serif;
  }
.slide-btn {
  display: inline-block;
  padding: 14px 40px 17px;
  border-radius: 32px;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0 2px 2px rgba(172,16,0,0.64);
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  font: 700 32px/1 Roboto, Arial, sans-serif;
  }
.slide-btn:hover {
  background-image: linear-gradient(#f38367 4.1%, #f07e65 27%, #ee7761 60.4%, #ed705e);
  box-shadow: 0 2px 2px #ac1000;
  }
.slide-btn:active {
  background-image: linear-gradient(to bottom, #e74a35, #f26843);
  box-shadow: inset 0 2px 2px #942718;
  }
.sliderToggle-1:checked ~ .container .slider-slide1 {
  display: block;
  background: url(../img/slide-1.png) no-repeat 50% top;
  }
.sliderToggle-2:checked ~ .container .slider-slide2 {
  display: block;
  background: url(../img/slide-2.png) no-repeat 50% top;
  }
.sliderToggle-3:checked ~ .container .slider-slide3 {
  display: block;
  background: url(../img/slide-3.png) no-repeat 50% top;
  }
.sliderToggle-1:checked ~ .container {
  background-color: #92a89c;
  }
.sliderToggle-2:checked ~ .container {
  background-color: #8996a6 ;
  }
.sliderToggle-3:checked ~ .container {
  background-color: #9d8b84;
  }

.slider-controls {
  position: absolute;
  top: 563px;
  left: 2.3%;
  }
.controls-btn {
  float: left;
  margin-right: 8px;
  width: 17px;
  height: 17px;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  }
.controls-btn:hover {
  background-color: rgba(255, 255, 255, 0.4);
  }
.sliderToggle-1:checked ~ .container .controls-btn1,
.sliderToggle-2:checked ~ .container .controls-btn2,
.sliderToggle-3:checked ~ .container .controls-btn3 {
  background-color: #fff;
  }

/* PROMO Block
========================================================*/
.promo {
  margin-bottom: 40px;
  width: 100%;
  }
.promo-block {
  position: relative;
  box-sizing: border-box;
  padding: 14px 18px;
  min-height: 229px;
  width: 48.9%;
  border-radius: 15px;
  font: normal 700 18px/1.2 Roboto, Arial, sans-serif;
  }
.promo-blockLeft {
  float: left;
  background: #e67a5d url(../img/promo-1.jpg) no-repeat 20% 45%;
  background-size: 150% 150%;
  }
.promo-blockRight {
  float: right;
  background: #e67a5d url(../img/promo-2.jpg) no-repeat 75% 60%;
  background-size: 160% 160%;
  }
.promo-title {
  margin-bottom: 18px;
  }
.promo-btn {
  position: absolute;
  right: 20px;
  bottom: 25px;
  }

/* HITLIST Block
========================================================*/
.hitList {
  width: 100%;
  font-size: 0;
  }
.goods {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin-right: 2.2%;
  margin-bottom: 39px;
  width: 23.25%;
  vertical-align: top;
  text-align: center;
  font-size: 16px;
  }
.goods:nth-child(4n) {
  margin-right: 0;
  }
.hitList-goods::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  background: url(../img/hitGoods.png) no-repeat;
  }
.goods-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #e67a5d;
  }
.goods-price {
  margin-top: -75px;
  color: #fff;
  text-align: left;
  text-shadow: 1px 1px 3px rgba(49,50,53,0.5);
  font: normal 700 30px/1.55 Roboto, Arial, sans-serif;
  }
.goods-priceValue {
  display: inline-block;
  font-size: 45px;
  }
.goods-icon {
  float: right;
  margin-top: 18px;
  margin-left: 3px;
  width: 32px;
  height: 40px;
  cursor: text;

  fill: #fff;
  }
.goods-txt {
  display: inline-block;
  margin-top: 14px;
  font: normal 500 16px/1.375 Roboto, Arial, sans-serif;
  }
.goods-btn {
  display: none;
  margin-top: 10px;
  padding-right: 0;
  padding-left: 0;
  width: 193px;
  }
.goods:hover {
  z-index: 5;
  margin: -5px calc(2.2% - 5px) -40px -5px;
  padding: 5px 5px 22px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 20px 20px rgba(0,0,0,0.4);
  }
.goods:hover:nth-child(4n) {
  margin-right: -5px;
  }
.goods:hover .goods-txt {
  text-decoration: none;
  }
.goods:hover .goods-btn {
  display: inline-block;
  }
.hitList-goods:hover::after {
  top: 5px;
  left: 5px;
  }
.goods-txt:hover {
  color: #e84d37;
  }

/* ABOUT Block
========================================================*/
.about {
  margin-bottom: 41px;
  padding: 24px 20px 25px;
  border-radius: 15px;
  background: #ece0c5 url(../img/pattern--grid.jpg);
  font-size: 0;
  }
.about-txt {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  margin: 5px 2.3% 0 0;
  padding-top: 16px;
  padding-left: 56px;
  width: 48.8%;
  color: #323232;
  vertical-align: top;
  font: normal 400 16px/1.375 Roboto, Arial, sans-serif;
  }
.about-txt:nth-of-type(2n) {
  margin-right: 0;
  }
.about-icon {
  position: absolute;
  top: 5px;
  left: 0;
  width: 47px;
  height: 47px;

  fill: #323232;
  }

/* INFO Block
========================================================*/
.info {
  margin-bottom: 40px;
  width: 100%;
  }
.info-news,
.info-subscribe {
  box-sizing: border-box;
  padding: 23px 20px 35px;
  min-height: 220px;
  width: 48.78%;
  border-radius: 15px;
  }
.info-news {
  float: left;
  background-color: #f8f7f4;
  background-image: url(../img/newsBg.jpg);
  background-position: -22% 29%;
  background-size: 130% 200%;
  color: #323232;
  font: normal 500 16px/1.375 Roboto, Arial, sans-serif;
  }
.news-link {
  display: block;
  margin-top: 3px;
  color: #323232;
  font: normal 500 24px/1.25 Roboto, Arial, sans-serif;
  }

.info-subscribe {
  float: right;
  box-sizing: border-box;
  padding: 6px;
  background: repeating-linear-gradient(135deg, white 9px, #92cdff 9px, #92cdff 18px, white 18px, white 27px, #fe9e90 27px, #fe9e90 36px, white 36px, white 45px);
  color: #323232;
  font: 400 16px/1.38 Roboto, Arial, sans-serif;
  }
.suscribe-inner {
  position: relative;
  padding: 28px 19px 35px;
  min-height: 141px;
  border-radius: 15px;
  background-color: #f8f7f4;
  }
.subscribeForm {
  position: absolute;
  bottom: 30px;
  width: 93.04%;
  }
.subscribeForm-btn {
  float: right;
  padding: 8px 18px 14px 19px;
  width: 128px;
  line-height: 1.26;
  }
.subscribeForm-input {
  float: left;
  width: calc(100% - 140px);
  }
.subscribeForm-helpTxt {
  top: -14px;
  }

/*========================================================
  MAP
=========================================================*/
.map {
  position: relative;
  overflow: hidden;
  height: 430px;
  }
.map-img {
  width: 100%;
  height: 430px;
  background-color: #e67a5d;
  }
.map-googleMap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 430px;
  }

.map-contacts {
  position: absolute;
  top: 63px;
  right: 26px;
  z-index: 10;
  box-sizing: border-box;
  padding: 27px 25px 29px 25px;
  min-height: 305px;
  width: 302px;
  border-radius: 15px;
  background-color: #fffefe;
  box-shadow: 0 20px 20px rgba(0,0,0,0.4);
  color: #323232;
  font: 400 14px / 1.43 Roboto, Arial, sans-serif;
  }
.contacts-adress {
  margin-bottom: 18px;
  }
.contacts-phone {
  margin-bottom: 25px;
  }
.contacts-adress--marked,
.contacts-phone--marked {
  display: block;
  margin-top: 2px;
  color: #323232;
  text-decoration: none;
  font: 700 18px / 1.35 Roboto, Arial, sans-serif;
  }
.contacts-phone--marked {
  margin-bottom: -17px;
  }
.contacts-btn {
  display: block;
  padding-top: 9px;
  padding-bottom: 12px;
  padding-left: 27px;
  }

/*========================================================
  POPUP
=========================================================*/
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 55;
  display: none;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.4);
  }
.showOverlay {
  display: block;
  }

.feedback {
  position: fixed;
  top: 13%;
  left: 50%;
  z-index: 60;
  display: none;
  box-sizing: border-box;
  margin-left: -239px;
  padding: 14px 26px 27px;
  min-height: 443px;
  width: 478px;
  border-radius: 15px;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px rgba(0,0,0,0.4);
  animation: open 0.6s linear;
  }
.showFeedback {
  display: block;
  }
.errorFeedback {
  animation: shake 0.6s ;
  }
.feedback-btnClose {
  top: 12px;
  right: 10px;
  }
@keyframes open {
  from {
    opacity: 0;
    transform: scale(0);
    }
  25% {
    opacity: 0.3;
    transform: scale(0.5);
    }
  50% {
    opacity: 0.6;
    transform: scale(0.9);
    }
  75% {
    opacity: 0.9;
    transform: scale(1.3);
    }
  100% {
    opacity: 1;
    transform: scale(1);
    }
  }
@keyframes shake {
  0%, 100% {transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
  20%, 40%, 60%, 80% {transform: translateX(10px);}
  }

.feedback-title {
  margin-bottom: 18px;
  }
.feedbackForm-input {
  margin-bottom: 20px;
  width: 267px;
  }
.feedbackForm-helpTxt--name {
  top: 48px;
  left: 39px;
  }
.feedbackForm-helpTxt--mail {
  top: 112px;
  left: 39px;
  }
.feedbackForm-comment {
  min-height: 155px;
  width: 428px;
  }
.feedbackForm-helpTxt--comment {
  top: 176px;
  left: 39px;
  }
.feedbackForm-btn {
  float: right;
  margin-top: 25px;
  }

/*====================================================
CATALOG Page
=====================================================*/
.breadcrumbs {
  position: relative;
  z-index: 25;
  margin: -20px 0 1px;
  padding: 0;
  list-style: none;
  }
.breadcrumbs-item {
  float: left;
  margin-right: 7px;
  }
.breadcrumbs-link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  text-decoration: none;
  font: 400 14px / 1.14 Roboto, Arial, sans-serif;
  }
.breadcrumbs-arrows {
  margin-left: 7px;
  }
.bredcrumbs-link--active {
  border: 0;
  }

.catalog {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 0;
  }
.catalog-title {
  margin-bottom: 27px;
  }

/* FORM Block
========================================================*/
.formGoods {
  margin-bottom: 26px;
  }
.formGoods-group {
  float: left;
  margin: 0 13px 14px 0;
  padding: 0;
  border: 0;
  }
.formGoods-group:nth-child(3n) {
  margin-right: 0;
  }
.formGoods-elemWrap {
  box-sizing: border-box;
  padding: 9px 16px;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  font: 500 16px / 1.125 Roboto, Arial, sans-serif;
  }
.formGoods-groupTitle {
  margin-bottom: 8px;
  margin-left: 15px;
  font: 500 14px / 1.14 Roboto, Arial, sans-serif;
  }

/* SELECT
========================================================*/
.formGoods-selectWrap {
  position: relative;
  z-index: 1;
  padding: 0;
  }
.formGoods-selectWrap::after {
  content: '';
  position: absolute;
  top: 16px;
  right: 15px;
  border: 5px solid #fff;
  border-right-color: transparent;
  border-bottom: 0;
  border-left-color: transparent;
  }
.formGoods-select {
  position: relative;
  z-index: 10;
  padding-left: 16px;
  width: 194px;
  height: 36px;
  outline: 0;
  border: 0;
  background: transparent;
  background: rgba(0, 0, 0, 0);
  color: #fff;
  font: 500 16px / 1.125 Roboto, Arial, sans-serif;
  cursor: pointer;

  -webkit-appearance: none;
  }
.formGoods-select:hover {
  color: #323232;
  }
.formGoods-selectWrap:hover {
  background-color: #fff;
  }
.formGoods-selectWrap:hover::after {
  border-top-color: #000;
  }

/* RANGE
========================================================*/
.formGoods-range {
  position: relative;
  padding: 0;
  width: 220px;
  height: 37px;
  }
.range-line {
  position: relative;
  top: calc(50% - 2px);
  left: calc(50% - 188px / 2);
  width: 188px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  }
.range-line--active {
  position: absolute;
  left: 22px;
  width: 107px;
  height: 4px;
  background-color: #f8f7f4;
  }
.range-control {
  position: absolute;
  top: calc(50% - 20px / 2);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f8f7f4;
  cursor: pointer;
  }
.range-controls--left {
  left: 34px;
  }
.range-controls--right {
  left: 132px;
  }
.range-control:hover {
  top: calc(50% - 22px / 2);
  width: 22px;
  height: 22px;
  }
.range-controls--left:hover {
  left: 33px;
  }
.range-controls--right {
  left: 131px;
  }

/* RADIO and CHECKBOXES
========================================================*/
.formGoods-input {
  display: none;
  }
.formGoods-label,
.formGoods-labelCheck {
  position: relative;
  float: left;
  margin-right: 20px;
  padding-left: 30px;
  cursor: pointer;
  }
.formGoods-labelCheck {
  position: relative;
  margin-right: 23px;
  }
.formGoods-label:last-child,
.formGoods-labelCheck:last-child {
  margin-right: 0;
  }
.formGoods-label::before,
.formGoods-label::after,
.formGoods-labelCheck::before {
  content: '';
  position: absolute;
  left: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #f8f7f4;
  border-radius: 50%;
  cursor: pointer;
  }
.formGoods-labelCheck::before {
  border-radius: 4px;
  }
.formGoods-label::after {
  top: 4px;
  left: 4px;
  display: none;
  width: 10px;
  height: 10px;
  background-color: #f8f7f4;
  }
.formGoods-icon {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  float: left;
  width: 20px;
  height: 20px;

  fill: #fff;
  }
.formGoods-label:hover::before,
.formGoods-labelCheck:hover::before {
  width: 16px;
  height: 16px;
  border-width: 2px;
  }
.formGoods-input:disabled + .formGoods-label,
.formGoods-input:disabled + .formGoods-labelCheck,
.formGoods-input:disabled ~ .formGoods-icon {
  opacity: 0.4;
  cursor: default;
  }
.formGoods-input:disabled + .formGoods-label:hover::before,
.formGoods-input:disabled + .formGoods-labelCheck:hover::before {
  width: 18px;
  height: 18px;
  border-width: 1px;
  cursor: default;
  }
.formGoods-input:checked + .formGoods-label::after,
.formGoods-input:checked + .formGoods-labelCheck .formGoods-icon {
  display: block;
  }

/* BTN
========================================================*/
.formGoods-btn {
  float: left;
  margin-top: 22px;
  padding: 7px 26px 8px 29px;
  border: 2px solid #f6f8f7;
  text-decoration: none;
  }
.formGoods-btn:hover {
  background-color: #fff;
  color: #323232;
  }
.formGoods-btn:active {
  box-shadow: inset 0 2px 1px #696969;
  color: #323232;
  }

/* PAGINATION
========================================================*/
.catalog-pagination {
  float: right;
  margin-top: 41px;
  margin-right: -10px;
  margin-bottom: 31px;
  max-width: 280px;
  }
.pagination-btn {
  float: left;
  box-sizing: border-box;
  margin-right: 3px;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  font: 500 16px / 27px Roboto, Arial, sans-serif;
  }
.pagination-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
  }
.pagination-btn--active,
.pagination-btn--active:hover {
  background-color: #fff;
  color: #000;
  }
.pagination-btn--prev,
.pagination-btn--next {
  padding-top: 7px;
  font-size: 0;
  }
.pagination-icon--prev,
.pagination-icon--next {
  width: 8px;
  height: 13px;

  fill: #fff;
  }
.pagination-icon--prev {
  padding-top: 0;
  transform: rotate(-180deg);
  }
.pagination-btn--disabled,
.pagination-btn--disabled:hover {
  background-color: transparent;
  opacity: 0.2;
  cursor: default;
  }

/*====================================================
  FORM Page
=====================================================*/
.pageForm-feedback {
  position: relative;
  z-index: 1;
  display: block;
  margin-top: 12%;
  margin-bottom: 10%;
  }
