extends common/template
include common/mix


block title
  title Блог

block person-title
  h2.person-title.person-title--caps Блог

block person-txt  
  .person-txt Статьи, которые я написал
  
block navLink-blog
  a.nav-link.nav-link--active(href="blog.html") Блог


block mainContent
 main.blog-main
    aside.sidebar
      button.sidebar-btn(type="button" title="Содержание") Содержание
      ul
        li
          a(href="#lorem") В гостях у Лорема и Ипсума
        li
          a(href="#stylus") Stylus жизни или код без забот
        li
          a(href="#gulp") Galp'ом по фронтэнду или Через тернии к сборщикам
        li
          a(href="#color") Дальтонизм по приборам
   
    .blogContent
      article#toBottom(data-article="lorem")
        h2 В гостях у Лорема и Ипсума
        time(datetime="2016-06-22") 22 июня 2016
        div
          img(src="img/custom/fish.png" alt="Lorem Ipsum")
        p Профессиональные дизайнеры и верстальщики знают о необходимости заполнения различных текстовых блоков макета сайта, пока финальный текст еще не создан.
        p Для  облегчения  данной задачи мудрыми головами был создан шаблон текста, который в мгновение ока и по щучьему велению позволял генерировать нужное количество строк, абзацев и, при желании, за считаные минуты создать целый роман со скучным и однообразным сюжетом.
        p Почему же именно рыба? Это образ скелета как основа, которая позволяет наполнить произвольным текстом и визуально увидеть дизайн странички или сайта в целом, а также проверить необходимые места на переполнение (верстальщикам на заметку).
        p За основу лорем ипсума был взят искажённый отрывок из философского трактата Марка Туллия Цицерона «О пределах добра и зла», написанного в 45 году до н. э. на латинском языке.
        p Только представьте с какой историей мы работаем.
        p Ну и напоследок: не забывайте пользоваться небезызвестным Emmet - близкого друга братьев Ипсума и Лорема.
        p Легкой Вам верстки!
      
      
      article(data-article="stylus")
        h2 Stylus жизни или код без забот
        time(datetime="2016-06-25") 25 июня 2016
        div
          img(src="img/custom/stylus.jpg" alt="Stylus")
        p Уже позади те времена, когда профессиональные веб-разработчики задавались вопросом: *нужны ли препроцессоры*.
        p Эти замечательные инструменты, сделавшие революцию в мире интернет-вёрстки, как швейцарский нож, стали незаменимыми нашими помощниками. Они прекрасны. Создание кросс-браузерного CSS стало гораздо проще, потому что все вендорные префиксы и хаки можно завернуть в примеси, заглушки или что у вас там.
        p На сегодняшний день самыми популярными препроцессорами являются SASS, LESS и Stylus.
        p Давайте поговорим о Stylus, созданный TJ Holowaychuk.
        p Несмотря на молодость, он является третим по популярности препроцессором, давая возможность  не отвлекаться на оформление и синтаксис, а полностью отдаться творческой работе над проектом. Упрощенный и универсальный синтаксис позволяет делать мешьше досадных ошибок, на поиск и отладку которых раньше уходила уйма драгоценного времени.
        p Почувствуйте силу Stylus:
        ul
          li написан на родном для фронтендеров языке javascript
          li позволяет использовать БЭМ без головной боли
          li обладает самым демократичным синтаксисом — только отступы, только хардкор
          li неплохое наследование, отличные миксины и, конечно, функции, операторы, итераторы и все-все-все
          li переменные, миксины и функции, расширение, импорт, ветвление, вложенность правил, интерполяция и математические вычисления,  упрощенный и универсальный синтаксис.
        p Хватит заниматься рутиной, начинайте творить!
      
      
      article(data-article="gulp")
        h2 Galp'ом по фронтэнду или Через тернии к сборщикам
        time(datetime="2016-06-25") 25 июня 2016
        div
          img(src="img/custom/gulp.jpg" alt="Gulp")
        p Кого из нас поначалу не пугала, например, консоль? Но жизнь не стоит ни месте, и для того чтобы упростить и ускорить работу, автоматизировать рутинные задачи, нужно осваивать новые сложные инструменты. Т.е., как это часто бывает в жизни,  для того чтобы упростить работу, нужно для начала всё бесконечно и окончательно усложнить.
        p Итак, Gulp.js - это таск-менержер или потоковый сборщик проектов на JS (что уже само по себе приятно).
        p Какие плюшки он нам подготовил?
        p Это и запуск модульных тестов, и конкатенацию файлов, минификацию, препроцессинг CSS.
        p Просто создав таск-файл, вы можете проинструктировать таск-менеджер, каким образом следует выполнить ту или иную задачу. И после этого вы можете заниматься своими делами. Довольно простая идея, которая позволяет сэкономить очень много времени, и помогает сохранять фокус на задачах, связанных непосредственно с разработкой проекта.
        p Gulp, как система, построена вокруг концепции потоковой передачи данных. Если не вдаваться в подробности, потоковая передача дает вам больше контроля над происходящим и избавляет вас от промежуточных папок и файлов. Вы передаете файл в gulp, а затем сохраняете результат в другой файл. Всё очень просто.
        p Когда дело доходит до расширения функциональности, ключевая мысль gulp в том, что каждый плагин должен выполнять только одно простое действие. Сам gulp всего лишь соединяет и организует эти действия в задачи. Здесь нет плагинов, дублирующих действия друг друга, и конфликтующих между собой или основным функционалом.
        p Можно с уверенностью сказать, что Gulp и множество утилит, написанных для него, подходят для решения практически любой задачи при разработке проекта любой сложности - от небольшого сайта до крупного проекта.
        p Пишите код, а не занимайтесь настройками )
      
      
      article(data-article="color")
        h2 Дальтонизм по приборам
        time(datetime="2016-06-27") 27 июня 2016
        div
          img(src="img/custom/pencil.png" alt="Карандаши")
        p В процессе работы над макетом любой верстальщик сталкивается с задачей подбора правильного цвета согласно макету. Ведь ни для кого не секрет, что любой электронный прибор с экраном: будь то мобильный телефон, планшет или монитор по разному отображают цвет. На отображение картинки влияют множество факторов, поэтому сложно себе даже представить какой цифровой винегрет твориться в сети ).
        p Как же сделать, чтобы заказчик видел на созданном сайте то что задумал дизайнер и реализовал верстальщик?
        p Решить данный вопрос, как добрые друзья, нам помогают цветовые профиля. 
        p Независимо, какая у вас операционная система, экран или настроение, цветовые профиля позволяют синхронизировать цвета на разных устройствах и получить прогнозируемый результат.
        
        
      +arrowUp('')
