extends common/template
include common/mix


block title
  title Мои работы

block navLink-works
  a.nav-link.nav-link--active(href="works.html") Мои работы

block corners
  .headerBg
    svg.headerBg-corners(preserveAspectRatio="none" viewBox="0 0 2032 360.368")
      use(xlink:href="#bg")
    +bgTitle('headerBg', 'Мои работы', '#stars2')

block mainContent
  main.works-main
    .slider#toBottom
      .slider-mainSlide
        img.slider-slidePic.slider-mainPic(src="img/custom/1.png" alt="Главный слайд")

      .slider-smallSlidesWrap
        button.slider-btn.slider-btn--next(type="button" title="Следующий слайд")
          span.slider-txt--hidden Следующий слайд
          svg.slider-icon(width="43" height="27")
            use(xlink:href="#arrow_down")
          ul.slider-list
            li.slider-item.slider-item--1
              img.slider-slidePic(src="img/custom/1.png" alt="Барбершоп")
            li.slider-item.slider-item--2.slider-item--active
              img.slider-slidePic(src="img/custom/2.png" alt="Глэйси")
            li.slider-item.slider-item--3
              img.slider-slidePic(src="img/custom/3.png" alt="Седона")

        button.slider-btn.slider-btn--prev(type="button" title="Предыдущий слайд")
          span.slider-txt--hidden Предыдущий слайд
          svg.slider-icon(width="43" height="27")
            use(xlink:href="#arrow_up")
          ul.slider-list
            li.slider-item.slider-item--1
              img.slider-slidePic(src="img/custom/1.png" alt="Барбершоп")
            li.slider-item.slider-item--2
              img.slider-slidePic(src="img/custom/2.png" alt="Глэйси")
            li.slider-item.slider-item--3.slider-item--active
              img.slider-slidePic(src="img/custom/3.png" alt="Седона")


      .slider-desc
        .slider-desc--inner
          .slider-info.slider-info--1.slider-info--active
            h2.slider-title Сайт свёрстан по макету "Barbershop"
            .slider-stack HTML, CSS, JavaScript
            a.slider-link(href="http://b-lvlax.github.io/barbershop" target="_blanc")
              svg.slider-linkIcon(width="20" height="20")
                use(xlink:href="#link")
              | Посмотреть сайт

          .slider-info.slider-info--2
            h2.slider-title Сайт свёрстан по макету "Gllacy"
            .slider-stack HTML, CSS, JavaScript
            a.slider-link(href="http://b-lvlax.github.io/gllacy" target="_blanc")
              svg.slider-linkIcon(width="20" height="20")
                use(xlink:href="#link")
              | Посмотреть сайт

          .slider-info.slider-info--3
            h2.slider-title Сайт свёрстан по макету "Sedona"
            .slider-stack HTML, CSS, JavaScript
            a.slider-link(href="http://b-lvlax.github.io/sedona" target="_blanc")
              svg.slider-linkIcon(width="20" height="20")
                use(xlink:href="#link")
              | Посмотреть сайт


    section.feedback
      +bgTitle('feedback', 'Что обо мне говорят', '#stars3')
      .comments
        .comments--left
          .comments-imgBox
            img.comments-img(src="img/ava-1.png" alt="Ковальчук Дмитрий")
          blockquote.comments-quote Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
          cite.comments-cite
            span.comments-author Ковальчук Дмитрий
            | — основатель Loftschool
        .comments--right
          .comments-imgBox
            img.comments-img(src="img/ava-2.png" alt="Зар Захаров")
          blockquote.comments-quote Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
          cite.comments-cite
            span.comments-author Зар Захаров
            | — главный преподаватель

      .feedbackForm-wrap
        h2.feedbackForm-title Связаться со мной
        form.feedbackForm(action="https://formspree.io/bmax.working@gmail.com" method="post")
          input.feedbackForm-input(type="text" name="person" placeholder="Имя")
          input.feedbackForm-input(type="email" name="_replyto" placeholder="Email")
          textarea.feedbackForm-input.feedbackForm-input--comment(name="message" placeholder="Ваше сообщение...")
          input(type="hidden" name="_subject" value="New submission on Portfolio Site!")
          .feedbackForm-group
            button.feedbackForm-btn--left(type="submit") Отправить
            button.feedbackForm-btn--right(type="reset") Очистить


      a.arrowUp#toBottom(href="#toUp")
        svg.arrowUp-icon(width="26" height="17")
          use(xlink:href="#arrow_up")
