.header
  display: flex
  flex-direction: column
  justify-content: space-between
  width: 100%
  height: 100vh
  min-height: $minHeight
  background: $bg
  background-size: cover

  &-inner
    flex-grow: 1
    display: flex
    justify-content: center
    align-items: flex-start
    flex-wrap: wrap
    width: 100%
    padding: 10px 20px 0

  &-arrowDown
    display: block
    width: 40px
    height: 40px
    margin: 0 auto
    text-align: center

    &:hover .header-arrowIcon
      fill: $baseClr

    &:active .header-arrowIcon
      fill: $theme

  &-arrowIcon
    @include arrow
    width: 26px
    height: 17px
    fill: rgba($baseClr, 0.7)

  &-corners
    width: 100%
    float: left

  &-corner
    width: 50%
    height: 100%
    float: left
    fill: $bgClr
  &-corner:last-child
    float: right


.headSocial
  @include social
  justify-content: flex-start
  margin-bottom: 32px
  width: 100%

  &-link:hover .headSocial-icon
    @include grow
    fill: $theme

  &-link:active .headSocial-icon,
  &-link--active .headSocial-icon
    cursor: default
    fill: lighten($theme, 10%)

  &-icon
    fill: $baseClr

.person-bg
  z-index: -1
  position: absolute
  left: 50%
  transform: translateX(-50%)
  width: 281px
  height: 167px
  opacity: 0.1

.person-title--caps
  @include sansus(35px, 1.2, $baseClr)
  text-transform: uppercase
