include mix
extends start


block content
  .wrapper
    .menu
      button.menu-btn(type="button" title="Меню")
        span.menu-lines Меню

      nav.nav
        ul.nav-list
          li.nav-item
            block navLink-works
              a.nav-link(href="works.html") Мои работы
          li.nav-item
            block navLink-blog
              a.nav-link(href="blog.html") Блог
          li.nav-item
            block navLink-about
              a.nav-link(href="about.html") Обо мне
          li.nav-item
            block navLink-login
              a.nav-link(href="index.html") Авторизация


    header.header
      .header-inner
        +social('headSocial')

        .person-wrap
          svg.person-bg
            use(xlink:href="#stars1")
          .person.header-person
            .person-imgWrap
              img.person-img(src="img/custom/ava.jpg" alt="B-Max")
            block person-title
              h1.person-title B - Max
            block person-txt
              .person-txt Личный сайт веб-разработчика

      a.header-arrowDown#toUp(href="#toBottom")
        svg.header-arrowIcon(width="26" height="16")
          use(xlink:href="#arrow_down")

      block corners
        +corners('')

    block mainContent
      main.main

    footer.footer
      .footer-inner
        .footer-info Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.

        .footer-nav
          ul.footer-menu
            li.footer-item
              a.footer-link(href="works.html") Мои работы
            li.footer-item
              a.footer-link(href="about.html") Обо мне
            li.footer-item
              a.footer-link(href="blog.html") Блог
            li.footer-item
              a.footer-link(href="index.html") Авторизация

          +social('footSocial')

        ul.footer-contacts
          li: a.footer-link(href="#") Some skype
          li: a.footer-link(href="mailto") bmax.working@gmail.com
          li: a.footer-link(href="#") Some phone
          li: a.footer-link(href="https://www.google.com.ua/maps/place/4A,+Pavla+Chubynskoho+St,+4%D0%90,+Kyiv/@50.4285624,30.6453128,17z/data=!3m1!4b1!4m5!3m4!1s0x40d4c517def564df:0xbe3b8913061f62be!8m2!3d50.4285624!4d30.6475015" target="_blanc") Украина, г.Киев

      +copyright('innerCopyright')


block map
  script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhdveDl1o0foVKV7ehHp_rnjfJs8DNwBY&callback=initMap")
